@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lkbv5p');
  src:  url('fonts/icomoon.eot?lkbv5p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lkbv5p') format('truetype'),
    url('fonts/icomoon.woff?lkbv5p') format('woff'),
    url('fonts/icomoon.svg?lkbv5p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Arrow-Left:before {
  content: "\ebd0";
}
.Minus:before {
  content: "\ea6e";
}
.Plus:before {
  content: "\eaa3";
}
.Download-Outline:before {
  content: "\e9f4";
}
.Chevron-Left:before {
  content: "\e90f";
}
.Chevron-Right:before {
  content: "\e908";
}
.insight:before {
  content: "\e9b3";
}
.Like-Outline:before {
  content: "\ea4a";
}
.undo-circle:before {
  content: "\eae6";
}
.close:before {
  content: "\e926";
}
.Eye-Outline:before {
  content: "\eb68";
}
.copy-outline:before {
  content: "\ec6a";
}
