$zoom-factor: 0.8;

$font-1: 1px * $zoom-factor;
$font-2: 2px * $zoom-factor;
$font-3: 3px * $zoom-factor;
$font-4: 4px * $zoom-factor;
$font-5: 5px * $zoom-factor;
$font-6: 6px * $zoom-factor;
$font-7: 7px * $zoom-factor;
$font-8: 8px * $zoom-factor;
$font-9: 9px * $zoom-factor;
$font-10: 10px * $zoom-factor;
$font-11: 11px * $zoom-factor;
$font-12: 12px * $zoom-factor;
$font-12-half: 12.5px * $zoom-factor;
$font-13: 13px * $zoom-factor;
$font-14: 14px * $zoom-factor;
$font-14-half: 14.5px * $zoom-factor;
$font-15: 15px * $zoom-factor;
$font-16: 16px * $zoom-factor;
$font-16-quarter: 16.25px * $zoom-factor;
$font-17: 17px * $zoom-factor;
$font-17-half: 17.5px * $zoom-factor;
$font-18: 18px * $zoom-factor;
$font-19: 19px * $zoom-factor;
$font-20: 20px * $zoom-factor;
$font-21: 21px * $zoom-factor;
$font-22: 22px * $zoom-factor;
$font-23: 23px * $zoom-factor;
$font-24: 24px * $zoom-factor;
$font-25: 25px * $zoom-factor;
$font-26: 26px * $zoom-factor;
$font-27: 27px * $zoom-factor;
$font-28: 28px * $zoom-factor;
$font-29: 29px * $zoom-factor;
$font-30: 30px * $zoom-factor;
$font-31: 31px * $zoom-factor;
$font-32: 32px * $zoom-factor;
$font-33: 33px * $zoom-factor;
$font-34: 34px * $zoom-factor;
$font-35: 35px * $zoom-factor;
$font-36: 36px * $zoom-factor;
$font-37: 37px * $zoom-factor;
$font-38: 38px * $zoom-factor;
$font-40: 40px * $zoom-factor;
$font-43: 43px * $zoom-factor;
$font-48: 48px * $zoom-factor;

$font-50: 50px * $zoom-factor;

$font-75: 75px * $zoom-factor;
$font-78: 78px * $zoom-factor;
