$hw-zoom-factor: 0.8;

$hw-1: 1px * $hw-zoom-factor;
$hw-1-exact: 1.25px * $hw-zoom-factor;
$hw-2: 2px * $hw-zoom-factor;
$hw-2-exact: 2.5px * $hw-zoom-factor;
$hw-3: 3px * $hw-zoom-factor;
$hw-4: 4px * $hw-zoom-factor;
$hw-5: 5px * $hw-zoom-factor;
$hw-6: 6px * $hw-zoom-factor;
$hw-7: 7px * $hw-zoom-factor;
$hw-8: 8px * $hw-zoom-factor;
$hw-9: 9px * $hw-zoom-factor;
$hw-10: 10px * $hw-zoom-factor;
$hw-11: 11px * $hw-zoom-factor;
$hw-12: 12px * $hw-zoom-factor;
$hw-12-half: 12.5px * $hw-zoom-factor;
$hw-13: 13px * $hw-zoom-factor;
$hw-14: 14px * $hw-zoom-factor;
$hw-15: 15px * $hw-zoom-factor;
$hw-16: 16px * $hw-zoom-factor;
$hw-17: 17px * $hw-zoom-factor;
$hw-17-half: 17.5px * $hw-zoom-factor;
$hw-18: 18px * $hw-zoom-factor;
$hw-19: 19px * $hw-zoom-factor;
$hw-20: 20px * $hw-zoom-factor;
$hw-21: 21px * $hw-zoom-factor;
$hw-22: 22px * $hw-zoom-factor;
$hw-22-half: 22.5px * $hw-zoom-factor;
$hw-23: 23px * $hw-zoom-factor;
$hw-24: 24px * $hw-zoom-factor;
$hw-25: 25px * $hw-zoom-factor;
$hw-26: 26px * $hw-zoom-factor;
$hw-26-quarter: 26.25px * $hw-zoom-factor;
$hw-27: 27px * $hw-zoom-factor;
$hw-27-three-fourth: 27.75px * $hw-zoom-factor;
$hw-28: 28px * $hw-zoom-factor;
$hw-29: 29px * $hw-zoom-factor;
$hw-30: 30px * $hw-zoom-factor;
$hw-31: 31px * $hw-zoom-factor;
$hw-32: 32px * $hw-zoom-factor;
$hw-33: 33px * $hw-zoom-factor;
$hw-34: 34px * $hw-zoom-factor;
$hw-35: 35px * $hw-zoom-factor;
$hw-36: 36px * $hw-zoom-factor;
$hw-37: 37px * $hw-zoom-factor;
$hw-38: 38px * $hw-zoom-factor;
$hw-39: 39px * $hw-zoom-factor;
$hw-40: 40px * $hw-zoom-factor;
$hw-41: 41px * $hw-zoom-factor;
$hw-42: 42px * $hw-zoom-factor;
$hw-43: 43px * $hw-zoom-factor;
$hw-44: 44px * $hw-zoom-factor;
$hw-45: 45px * $hw-zoom-factor;
$hw-46: 46px * $hw-zoom-factor;
$hw-47: 47px * $hw-zoom-factor;
$hw-48: 48px * $hw-zoom-factor;
$hw-49: 49px * $hw-zoom-factor;

$hw-50: 50px * $hw-zoom-factor;
$hw-51: 51px * $hw-zoom-factor;
$hw-52: 52px * $hw-zoom-factor;
$hw-52-half: 52.5px * $hw-zoom-factor;
$hw-53: 53px * $hw-zoom-factor;
$hw-53-three-fourth: 53.75px * $hw-zoom-factor;
$hw-54: 54px * $hw-zoom-factor;
$hw-55: 55px * $hw-zoom-factor;
$hw-56: 56px * $hw-zoom-factor;
$hw-57: 57px * $hw-zoom-factor;
$hw-58: 58px * $hw-zoom-factor;

$hw-60: 60px * $hw-zoom-factor;
$hw-61: 61px * $hw-zoom-factor;
$hw-62: 62px * $hw-zoom-factor;
$hw-63: 63px * $hw-zoom-factor;
$hw-64: 64px * $hw-zoom-factor;
$hw-65: 65px * $hw-zoom-factor;
$hw-66: 66px * $hw-zoom-factor;
$hw-68: 68px * $hw-zoom-factor;
$hw-69: 69px * $hw-zoom-factor;
$hw-70: 70px * $hw-zoom-factor;
$hw-71: 71px * $hw-zoom-factor;
$hw-72: 72px * $hw-zoom-factor;
$hw-73: 73px * $hw-zoom-factor;
$hw-74: 74px * $hw-zoom-factor;
$hw-75: 75px * $hw-zoom-factor;
$hw-76: 76px * $hw-zoom-factor;
$hw-77: 77px * $hw-zoom-factor;
$hw-78: 78px * $hw-zoom-factor;
$hw-80: 80px * $hw-zoom-factor;
$hw-87-half: 87.5px * $hw-zoom-factor;
$hw-88: 88px * $hw-zoom-factor;

$hw-84: 84px * $hw-zoom-factor;
$hw-85: 85px * $hw-zoom-factor;
$hw-86: 86px * $hw-zoom-factor;
$hw-90: 90px * $hw-zoom-factor;
$hw-91: 91px * $hw-zoom-factor;
$hw-92: 92px * $hw-zoom-factor;
$hw-93: 93px * $hw-zoom-factor;
$hw-94: 94px * $hw-zoom-factor;
$hw-95: 95px * $hw-zoom-factor;
$hw-96: 96px * $hw-zoom-factor;
$hw-97: 97px * $hw-zoom-factor;
$hw-97-half: 97.5px * $hw-zoom-factor;
$hw-98: 98px * $hw-zoom-factor;
$hw-99: 99px * $hw-zoom-factor;

$hw-100: 100px * $hw-zoom-factor;
$hw-101: 101px * $hw-zoom-factor;
$hw-102: 102px * $hw-zoom-factor;
$hw-103: 103px * $hw-zoom-factor;
$hw-104: 104px * $hw-zoom-factor;
$hw-105: 105px * $hw-zoom-factor;
$hw-107: 107px * $hw-zoom-factor;
$hw-108: 108px * $hw-zoom-factor;
$hw-110: 110px * $hw-zoom-factor;
$hw-116: 116px * $hw-zoom-factor;
$hw-112: 112px * $hw-zoom-factor;
$hw-117: 117px * $hw-zoom-factor;
$hw-117-half: 117.5px * $hw-zoom-factor;
$hw-118: 118px * $hw-zoom-factor;
$hw-119: 119px * $hw-zoom-factor;

$hw-120: 120px * $hw-zoom-factor;
$hw-121: 121px * $hw-zoom-factor;
$hw-122: 122px * $hw-zoom-factor;

$hw-124: 124px * $hw-zoom-factor;
$hw-125: 125px * $hw-zoom-factor;
$hw-126: 126px * $hw-zoom-factor;

$hw-128: 128px * $hw-zoom-factor;
$hw-130: 130px * $hw-zoom-factor;
$hw-132: 132px * $hw-zoom-factor;
$hw-133: 133px * $hw-zoom-factor;
$hw-135: 135px * $hw-zoom-factor;
$hw-138: 138px * $hw-zoom-factor;

$hw-140: 140px * $hw-zoom-factor;
$hw-141: 141px * $hw-zoom-factor;

$hw-143: 143px * $hw-zoom-factor;
$hw-144: 144px * $hw-zoom-factor;
$hw-145: 145px * $hw-zoom-factor;
$hw-146: 146px * $hw-zoom-factor;
$hw-147: 147px * $hw-zoom-factor;
$hw-148: 148px * $hw-zoom-factor;

$hw-150: 150px * $hw-zoom-factor;
$hw-151: 151px * $hw-zoom-factor;
$hw-152: 152px * $hw-zoom-factor;
$hw-153: 153px * $hw-zoom-factor;
$hw-154: 154px * $hw-zoom-factor;
$hw-155: 155px * $hw-zoom-factor;
$hw-156: 156px * $hw-zoom-factor;
$hw-158: 158px * $hw-zoom-factor;
$hw-160: 160px * $hw-zoom-factor;
$hw-161: 161px * $hw-zoom-factor;
$hw-162: 162px * $hw-zoom-factor;
$hw-165: 165px * $hw-zoom-factor;
$hw-166: 166px * $hw-zoom-factor;
$hw-169: 169px * $hw-zoom-factor;
$hw-170: 170px * $hw-zoom-factor;
$hw-172-half: 172.5px * $hw-zoom-factor;
$hw-173: 173px * $hw-zoom-factor;
$hw-174: 174px * $hw-zoom-factor;
$hw-175: 175px * $hw-zoom-factor;
$hw-176: 176px * $hw-zoom-factor;
$hw-178: 178px * $hw-zoom-factor;
$hw-179: 179px * $hw-zoom-factor;
$hw-180: 180px * $hw-zoom-factor;
$hw-183: 183px * $hw-zoom-factor;
$hw-185: 185px * $hw-zoom-factor;
$hw-187-half: 187.5px * $hw-zoom-factor;
$hw-188: 188px * $hw-zoom-factor;
$hw-190: 190px * $hw-zoom-factor;
$hw-192: 192px * $hw-zoom-factor;
$hw-193: 193px * $hw-zoom-factor;
$hw-194: 194px * $hw-zoom-factor;
$hw-195: 195px * $hw-zoom-factor;
$hw-196: 196px * $hw-zoom-factor;
$hw-197: 197px * $hw-zoom-factor;
$hw-198: 198px * $hw-zoom-factor;

$hw-200: 200px * $hw-zoom-factor;
$hw-202: 202px * $hw-zoom-factor;
$hw-203: 203px * $hw-zoom-factor;
$hw-205: 205px * $hw-zoom-factor;
$hw-206: 206px * $hw-zoom-factor;
$hw-208: 208px * $hw-zoom-factor;
$hw-210: 210px * $hw-zoom-factor;
$hw-212: 212px * $hw-zoom-factor;
$hw-214: 214px * $hw-zoom-factor;
$hw-215: 215px * $hw-zoom-factor;
$hw-217: 217px * $hw-zoom-factor;
$hw-218: 218px * $hw-zoom-factor;
$hw-220: 220px * $hw-zoom-factor;
$hw-221: 221px * $hw-zoom-factor;
$hw-225: 225px * $hw-zoom-factor;
$hw-231: 231px * $hw-zoom-factor;
$hw-234: 234px * $hw-zoom-factor;
$hw-238: 238px * $hw-zoom-factor;
$hw-245: 245px * $hw-zoom-factor;
$hw-248: 248px * $hw-zoom-factor;
$hw-250: 250px * $hw-zoom-factor;
$hw-251: 251px * $hw-zoom-factor;
$hw-252: 252px * $hw-zoom-factor;
$hw-256: 256px * $hw-zoom-factor;
$hw-258: 258px * $hw-zoom-factor;
$hw-260: 260px * $hw-zoom-factor;
$hw-267: 267px * $hw-zoom-factor;
$hw-268: 268px * $hw-zoom-factor;
$hw-270: 270px * $hw-zoom-factor;
$hw-273: 273px * $hw-zoom-factor;
$hw-274: 274px * $hw-zoom-factor;
$hw-275: 275px * $hw-zoom-factor;
$hw-280: 280px * $hw-zoom-factor;
$hw-288: 288px * $hw-zoom-factor;
$hw-285: 285px * $hw-zoom-factor;
$hw-290: 290px * $hw-zoom-factor;
$hw-293: 293px * $hw-zoom-factor;
$hw-296: 296px * $hw-zoom-factor;

$hw-300: 300px * $hw-zoom-factor;
$hw-302: 302px * $hw-zoom-factor;
$hw-303: 303px * $hw-zoom-factor;
$hw-307: 307px * $hw-zoom-factor;
$hw-307-half: 307.5px * $hw-zoom-factor;
$hw-310: 310px * $hw-zoom-factor;
$hw-312: 312px * $hw-zoom-factor;
$hw-315: 315px * $hw-zoom-factor;
$hw-316: 316px * $hw-zoom-factor;
$hw-319: 319px * $hw-zoom-factor;
$hw-320: 320px * $hw-zoom-factor;
$hw-325: 325px * $hw-zoom-factor;
$hw-326: 326px * $hw-zoom-factor;
$hw-328: 328px * $hw-zoom-factor;

$hw-330: 330px * $hw-zoom-factor;
$hw-335: 335px * $hw-zoom-factor;
$hw-337: 337px * $hw-zoom-factor;
$hw-340: 340px * $hw-zoom-factor;
$hw-345: 345px * $hw-zoom-factor;
$hw-347-half: 347.5px * $hw-zoom-factor;
$hw-348: 348px * $hw-zoom-factor;
$hw-350: 350px * $hw-zoom-factor;
$hw-352: 352px * $hw-zoom-factor;
$hw-354: 354px * $hw-zoom-factor;
$hw-355: 355px * $hw-zoom-factor;
$hw-358: 358px * $hw-zoom-factor;
$hw-360: 360px * $hw-zoom-factor;
$hw-362: 362px * $hw-zoom-factor;
$hw-370: 370px * $hw-zoom-factor;
$hw-375: 375px * $hw-zoom-factor;
$hw-376: 376px * $hw-zoom-factor;
$hw-380: 380px * $hw-zoom-factor;
$hw-382: 382px * $hw-zoom-factor;
$hw-386: 386px * $hw-zoom-factor;
$hw-384: 384px * $hw-zoom-factor;
$hw-387: 387px * $hw-zoom-factor;
$hw-387-half: 387.5px * $hw-zoom-factor;
$hw-388: 388px * $hw-zoom-factor;
$hw-390: 390px * $hw-zoom-factor;
$hw-394: 394px * $hw-zoom-factor;

$hw-400: 400px * $hw-zoom-factor;
$hw-408: 408px * $hw-zoom-factor;
$hw-410: 410px * $hw-zoom-factor;
$hw-413: 413px * $hw-zoom-factor;
$hw-415: 415px * $hw-zoom-factor;
$hw-420: 420px * $hw-zoom-factor;
$hw-425: 425px * $hw-zoom-factor;
$hw-427: 427px * $hw-zoom-factor;
$hw-429: 429px * $hw-zoom-factor;
$hw-430: 430px * $hw-zoom-factor;
$hw-432: 432px * $hw-zoom-factor;
$hw-434: 434px * $hw-zoom-factor;
$hw-435: 435px * $hw-zoom-factor;
$hw-438: 438px * $hw-zoom-factor;
$hw-440: 440px * $hw-zoom-factor;
$hw-442-half: 442.5px * $hw-zoom-factor;
$hw-448: 448px * $hw-zoom-factor;
$hw-450: 450px * $hw-zoom-factor;
$hw-455: 455px * $hw-zoom-factor;
$hw-460: 460px * $hw-zoom-factor;
$hw-466: 466px * $hw-zoom-factor;
$hw-470: 470px * $hw-zoom-factor;
$hw-474: 474px * $hw-zoom-factor;
$hw-475: 475px * $hw-zoom-factor;
$hw-477: 477px * $hw-zoom-factor;
$hw-480: 480px * $hw-zoom-factor;
$hw-485: 485px * $hw-zoom-factor;
$hw-488: 488px * $hw-zoom-factor;
$hw-491: 491px * $hw-zoom-factor;
$hw-495: 495px * $hw-zoom-factor;
$hw-497: 497px * $hw-zoom-factor;
$hw-500: 500px * $hw-zoom-factor;
$hw-512: 512px * $hw-zoom-factor;
$hw-515: 515px * $hw-zoom-factor;
$hw-517: 517px * $hw-zoom-factor;
$hw-519: 519px * $hw-zoom-factor;
$hw-522: 522px * $hw-zoom-factor;
$hw-525: 525px * $hw-zoom-factor;
$hw-536: 536px * $hw-zoom-factor;
$hw-538: 538px * $hw-zoom-factor;
$hw-540: 540px * $hw-zoom-factor;
$hw-550: 550px * $hw-zoom-factor;
$hw-560: 560px * $hw-zoom-factor;
$hw-562-half: 562.5px * $hw-zoom-factor;
$hw-567: 567px * $hw-zoom-factor;
$hw-570: 570px * $hw-zoom-factor;
$hw-576: 576px * $hw-zoom-factor;
$hw-587: 587px * $hw-zoom-factor;
$hw-590: 590px * $hw-zoom-factor;
$hw-592-half: 592.5px * $hw-zoom-factor;
$hw-596: 596px * $hw-zoom-factor;
$hw-600: 600px * $hw-zoom-factor;
$hw-605: 605px * $hw-zoom-factor;
$hw-615: 615px * $hw-zoom-factor;
$hw-616-25: 616.25px * $hw-zoom-factor;
$hw-625: 625px * $hw-zoom-factor;
$hw-637-half: 637.5px * $hw-zoom-factor;
$hw-640: 640px * $hw-zoom-factor;
$hw-641: 641px * $hw-zoom-factor;
$hw-646: 646px * $hw-zoom-factor;
$hw-648: 648px * $hw-zoom-factor;
$hw-660: 660px * $hw-zoom-factor;
$hw-665: 665px * $hw-zoom-factor;
$hw-661: 661px * $hw-zoom-factor;
$hw-675: 675px * $hw-zoom-factor;
$hw-676: 676px * $hw-zoom-factor;
$hw-687: 687px * $hw-zoom-factor;
$hw-700: 700px * $hw-zoom-factor;
$hw-712: 712px * $hw-zoom-factor;
$hw-706: 706px * $hw-zoom-factor;
$hw-745: 745px * $hw-zoom-factor;
$hw-757: 757px * $hw-zoom-factor;
$hw-760: 760px * $hw-zoom-factor;
$hw-763: 763px * $hw-zoom-factor;
$hw-786: 786px * $hw-zoom-factor;
$hw-795: 795px * $hw-zoom-factor;

$hw-800: 800px * $hw-zoom-factor;
$hw-802: 802px * $hw-zoom-factor;
$hw-811: 811px * $hw-zoom-factor;
$hw-812: 812px * $hw-zoom-factor;
$hw-836: 836px * $hw-zoom-factor;
$hw-852: 852px * $hw-zoom-factor;
$hw-864: 864px * $hw-zoom-factor;
$hw-875: 875px * $hw-zoom-factor;
$hw-896: 896px * $hw-zoom-factor;

$hw-900: 900px * $hw-zoom-factor;
$hw-910: 910px * $hw-zoom-factor;
$hw-931: 931px * $hw-zoom-factor;
$hw-933: 933px * $hw-zoom-factor;
$hw-975: 975px * $hw-zoom-factor;

$hw-1000: 1000px * $hw-zoom-factor;
$hw-1015: 1015px * $hw-zoom-factor;
$hw-1028: 1028px * $hw-zoom-factor;
$hw-1030: 1030px * $hw-zoom-factor;
$hw-1048: 1048px * $hw-zoom-factor;
$hw-1200: 1200px * $hw-zoom-factor;
$hw-1220: 1220px * $hw-zoom-factor;
$hw-1250: 1250px * $hw-zoom-factor;
$hw-1306: 1306.25px * $hw-zoom-factor;
$hw-1364: 1364px * $hw-zoom-factor;
