$mp-zoom-factor: 0.8;

$mp-point75: 0.75px * $mp-zoom-factor;
$mp-0: 0px * $mp-zoom-factor;
$mp-1: 1px * $mp-zoom-factor;
$mp-1-25: 1.25px * $mp-zoom-factor;
$mp-2: 2px * $mp-zoom-factor;
$mp-2-half: 2.5px * $mp-zoom-factor;
$mp-3: 3px * $mp-zoom-factor;
$mp-3-three-fourth: 3.75px * $mp-zoom-factor;
$mp-4: 4px * $mp-zoom-factor;
$mp-5: 5px * $mp-zoom-factor;
$mp-5-three-fourth: 5.75px * $mp-zoom-factor;
$mp-6: 6px * $mp-zoom-factor;
$mp-6-quarter: 6.25px * $mp-zoom-factor;
$mp-6-half: 6.5px * $mp-zoom-factor;
$mp-7: 7px * $mp-zoom-factor;
$mp-7-half: 7.5px * $mp-zoom-factor;
$mp-8: 8px * $mp-zoom-factor;
$mp-9: 9px * $mp-zoom-factor;
$mp-9-half: 9.5px * $mp-zoom-factor;
$mp-10: 10px * $mp-zoom-factor;
$mp-10-half: 10.5px * $mp-zoom-factor;
$mp-11: 11px * $mp-zoom-factor;
$mp-11-quarter: 11.25px * $mp-zoom-factor;
$mp-12: 12px * $mp-zoom-factor;
$mp-12-half: 12.5px * $mp-zoom-factor;
$mp-13: 13px * $mp-zoom-factor;
$mp-13-half: 13.125px * $mp-zoom-factor;
$mp-14: 14px * $mp-zoom-factor;
$mp-15: 15px * $mp-zoom-factor;
$mp-16: 16px * $mp-zoom-factor;
$mp-17: 17px * $mp-zoom-factor;
$mp-17-half: 17.5px * $mp-zoom-factor;
$mp-18: 18px * $mp-zoom-factor;
$mp-19: 19px * $mp-zoom-factor;
$mp-20: 20px * $mp-zoom-factor;
$mp-21: 21px * $mp-zoom-factor;
$mp-21-quarter: 21.25px * $mp-zoom-factor;
$mp-22: 22px * $mp-zoom-factor;
$mp-22-half: 22.5px * $mp-zoom-factor;
$mp-23: 23px * $mp-zoom-factor;
$mp-24: 24px * $mp-zoom-factor;
$mp-25: 25px * $mp-zoom-factor;
$mp-26: 26px * $mp-zoom-factor;
$mp-27: 27px * $mp-zoom-factor;
$mp-28: 28px * $mp-zoom-factor;
$mp-29: 29px * $mp-zoom-factor;
$mp-30: 30px * $mp-zoom-factor;
$mp-31: 31px * $mp-zoom-factor;
$mp-32: 32px * $mp-zoom-factor;
$mp-33: 33px * $mp-zoom-factor;
$mp-34: 34px * $mp-zoom-factor;
$mp-35: 35px * $mp-zoom-factor;
$mp-36: 36px * $mp-zoom-factor;
$mp-37: 37px * $mp-zoom-factor;
$mp-38: 38px * $mp-zoom-factor;
$mp-39: 39px * $mp-zoom-factor;
$mp-40: 40px * $mp-zoom-factor;
$mp-41: 41px * $mp-zoom-factor;
$mp-42: 42px * $mp-zoom-factor;

$mp-44: 44px * $mp-zoom-factor;
$mp-45: 45px * $mp-zoom-factor;
$mp-47: 47px * $mp-zoom-factor;

$mp-48: 48px * $mp-zoom-factor;
$mp-49: 49px * $mp-zoom-factor;
$mp-50: 50px * $mp-zoom-factor;
$mp-51: 51px * $mp-zoom-factor;
$mp-52: 52px * $mp-zoom-factor;
$mp-53: 53px * $mp-zoom-factor;
$mp-54: 54px * $mp-zoom-factor;
$mp-55: 55px * $mp-zoom-factor;
$mp-56: 56px * $mp-zoom-factor;

$mp-59: 59px * $mp-zoom-factor;
$mp-60: 60px * $mp-zoom-factor;

$mp-62: 62px * $mp-zoom-factor;
$mp-64: 64px * $mp-zoom-factor;
$mp-72: 72px * $mp-zoom-factor;
$mp-73: 73px * $mp-zoom-factor;
$mp-74: 74px * $mp-zoom-factor;
$mp-78: 78px * $mp-zoom-factor;
$mp-80: 80px * $mp-zoom-factor;
$mp-84: 84px * $mp-zoom-factor;
$mp-86: 86px * $mp-zoom-factor;
$mp-89: 89px * $mp-zoom-factor;

$mp-90: 90px * $mp-zoom-factor;
$mp-96: 96px * $mp-zoom-factor;

$mp-104: 104px * $mp-zoom-factor;
$mp-107: 107px * $mp-zoom-factor;
$mp-108: 108px * $mp-zoom-factor;
$mp-112: 112px * $mp-zoom-factor;
$mp-119: 119px * $mp-zoom-factor;
$mp-122: 122px * $mp-zoom-factor;
$mp-125: 125px * $mp-zoom-factor;
$mp-130: 130px * $mp-zoom-factor;
$mp-132: 132px * $mp-zoom-factor;
$mp-145: 145px * $mp-zoom-factor;
$mp-140: 145px * $mp-zoom-factor;
$mp-187: 187px * $mp-zoom-factor;
$mp-200: 200px * $mp-zoom-factor;
$mp-205: 205px * $mp-zoom-factor;
$mp-212: 212px * $mp-zoom-factor;
$mp-222: 222px * $mp-zoom-factor;
$mp-224: 224px * $mp-zoom-factor;
$mp-225: 225px * $mp-zoom-factor;
$mp-250: 250px * $mp-zoom-factor;
$mp-375: 375px * $mp-zoom-factor;
$mp-615: 615px * $mp-zoom-factor;
$mp-247-half: 247.5px * $mp-zoom-factor;
$mp-95: 95px * $mp-zoom-factor;
